<p id="notice"><%= notice %></p>

<h1>Listing Expenditures</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.amount %></td>
        <td><%= link_to 'Show', expenditure %></td>
        <td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>
        <td><%= link_to 'Destroy', expenditure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenditure', new_expenditure_path %> 
<p>
  <%= link_to 'View Budgets', budgets_path %> |
  <%= link_to 'View Categories', categories_path %> |
  <%= link_to 'View Balance', balances_path %>

</p>
