<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @expenditure.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expenditure.category %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
